*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    background-color:#6e0707;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-around;
}
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid black ;
}
nav{
    /* width: 100%; */
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin-top: 20px;
    margin-right: 60px;
    font-size: larger;
    font-weight: bolder;
    height: 30px;
    width: 110px;
    background-color: black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.navlogo{
    width: 100px;
}
li a{
    text-decoration: none;
     color:#6e0707;
     font-family: "Indie Flower", cursive;
}
li a:hover{
    color: white;
    font-size: larger;
}
ul li:nth-child(4){
    width: 130px;
}
ul li:nth-child(2):hover{
    width: 150px;
}
ul li:nth-child(3):hover{
    width: 150px;
}
ul li:nth-child(4):hover{
    width: 150px;
}
ul li:nth-child(5):hover{
    width: 150px;
}
ul li:nth-child(1):hover{
    width: 150px;
}
header{
    display: flex;
    justify-content: space-around;
}
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid black ;
}
nav{
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin-top: 20px;
    margin-right: 60px;
    font-size: larger;
    font-weight: bolder;
    height: 30px;
    width: 110px;
    background-color: black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.navlogo{
    width: 100px;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 20px;
    padding: 0 30px;
    font-family: "Indie Flower", cursive;
}
.box1{
    width: 250px;
    height:290px;
}
.box2{
    width: 250px;
    height:290px;
}
.box3{
    width: 250px;
    height:290px;
}
.box4{
    width: 250px;
    height:290px;
}
article{
    background-color: black;
    border: 2px solid #2d2c2c;
    border-radius: 10px;
}
img{
    width: 135px;
}
.f-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.f-a{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.s-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.s-a{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.t-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.t-a{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.fo-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.fo-a{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.box1 img{
    height: 190px;
    margin-top: 10px;
}
.box2 img{
    height: 190px;
    margin-top: 10px;
}
.box3 img{
    height: 190px;
    margin-top: 10px;
}
.box4 img{
    height: 190px;
    margin-top: 10px;
}
article p{
    color: #6e0707;
    text-align: center;
    font-weight: bolder;
}

td{
    border: 2px solid black;
    border-radius:2px;
}

table{
    width: 800px;
    height: 180px;
    position: absolute;
    right: 0px;
    left: 0px;
    margin-top: 40px;
    margin: 60px auto;    
    border: 2px solid black;
    border-radius: 8px;

}

td{
    border: 2px solid black;
    border-radius:2px;
}
.first-section article{
    background-color:#050101;
    color: #a01111;
    border: 2px solid #2d2c2c; 
}
ul li{
    background-color: black;
    height: 30px;
    width: 110px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}
ul li a{
    color: #6e0707;
    text-decoration: none;
}
ul li a:hover{
    color: white;
}
tr td:hover{
    background-color: black;
    color: #6e0707;
}
td{
    text-align: center;
    font-family: "Indie Flower", cursive;
}
th{
    background-color: black;
    color: #6e0707;
    font-family: "Indie Flower", cursive;
}
