*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#6e0707;
    height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
.ul{
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: space-around;
    margin-top: 39px;
    padding-bottom: 50px;
    font-weight: 200;
    font-size: larger;
    border-bottom: 1px solid black;
}
.header-logo{
    width:80px;
    position: absolute;
    top: 12px;
}
.first-section{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    
}
.first-article{
    width: 250px;
    height:290px;
    border-radius: 10px;
    position: relative;

}
.second-article{
    width: 250px;
    height:290px;
    border-radius: 10px;
    position: relative;
}
.third-article{
    width: 250px;
    height:290px;
    border-radius: 10px;
    position: relative;
}
.fourth-article{
    width: 250px;
    height:290px;
    border-radius: 10px;
    position: relative;
}
.first-img{
    width: 150px;
    position: absolute;
    margin-top: 23px;
    left: 49px;
}
.fisrt-p{
    position: absolute;
    font-family: sans-serif;
    bottom: 20px;
    margin-left: 55px;
    font-weight: bolder;
    font-family: "Spicy Rice", serif;

}
.second-img{
    width: 150px;
    margin-top: 23px;
    left: 49px;
    position: absolute;
}
.second-p{
    position: absolute;
    font-family: sans-serif;
    bottom: 8px;
    margin-left: 45px;
    font-weight: bolder;
    font-family: "Spicy Rice", serif;
}
.third-img{
    width: 180px;
    margin-top: 23px;
    left: 34px;
    position: absolute;
    height: 210px;
}
.third-p{
    position: absolute;
    font-family: sans-serif;
    bottom: 12px;
    margin-left: 30px;
    font-weight: bolder;
    font-family: "Spicy Rice", serif;
}
.fourth-img{
    width: 150px;
    margin-top: 23px;
    left: 49px;
    height: 210px;
    position: absolute;
}
.fourth-p{
    position: absolute;
    font-family: sans-serif;
    bottom: 16px;
    margin-left: 48px;
    font-weight: bolder;
    font-family: "Spicy Rice", serif;
}
table{
    width: 1250px;
    height: 180px;
    position: absolute;
    margin-top: 40px;
    margin-left: 350px;
    border: 2px solid black;
    border-radius: 8px;

}
td{
    border: 2px solid black;
    border-radius:2px;
}
.first-section article{
    background-color:#050101;
    color: #a01111;
    border: 2px solid #2d2c2c;
    
    
}
article img{
    width: 150px;
    margin-top: 23px;
    left: 49px;
    position: absolute;
}
ul li{
    background-color: black;
    height: 30px;
    width: 110px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}
ul li a{
    color: #6e0707;
    text-decoration: none;
    font-family: "Spicy Rice", serif;
}
ul li a:hover{
    color: white;
}
tr td:hover{
    background-color: black;
    color: #6e0707;
}
td{
    text-align: center;
}
th{
    background-color: black;
    color: #6e0707;
}
